@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Case Assist Portal</h1>
    <p>Documentation</p>
    <p>Troublshooting</p>
</div>
