@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--<h1 class="display-4">Case Assist Portal</h1>-->
    <p style="text-align:left" >Documentation Format: <a href="https://github.com/abpanic/case-documentation">here</p></a>
    <p style="text-align:left">Troublshooting : <a href="https://github.com/abpanic/Case-Flow">here</p></a>
    <p style="text-align:left"></p>Fiddler :<a href="">here</p></a>
    <p style="text-align:left"></p>Procmon : <a href=""> here</p></a>
    <p style="text-align:left"></p>NetMon : <a href="">here</p>

</div>
