@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <!--<h1 class="display-4">Case Assist Portal</h1>-->
    <ul>
        <li>
            <p style="text-align:left" >Documentation Format: <a href="https://github.com/abpanic/case-documentation">here</p></a>
        </li>
        <li>
            <p style="text-align:left">Troublshooting Flow: <a href="https://github.com/abpanic/Case-Flow">here</p></a>  
        </li>
        <li>
            <p style="text-align:left">How to Capture Fiddler Traffic: <a href="https://www.telerik.com/fiddler/fiddlercap">here</p></a> 
        </li>
        <li>
            <p style="text-align:left">How to Catture ProcMon Traces: <a href="ProcMon.htm">here</p></a> 
        </li>
        <li>
            <p style="text-align:left">How to Capture Network traffic with NetMon : <a href="https://learn.microsoft.com/en-us/troubleshoot/windows-client/networking/collect-data-using-network-monitor">here</p></a> 
        </li>
    </ul>
</div>
