@page
@model ReadinessModel
@{
    ViewData["Title"]="Learn Tracker";
    
}
<div class= "row">
<ul><h3>Intro to Basic</h3>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/get-started-with-powerapps/'>Get started with Power Apps canvas apps</li></a> 
    <li><a href="https://learn.microsoft.com/en-us/training/paths/create-app-models-business-processes/">Create Model driven app in PowerApps:</li></a>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/get-started-flows/'>Get Started with Power Automate Flows</li></a>
</ul>
<ul><h3>Integration</h3>    
    <li><a href='https://learn.microsoft.com/en-us/training/paths/integrate-power-platform/'>Integrate with Microsoft Power Platform and Dataverse</li></a>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/multiple-data-sources/'>Power Automate's deep integration across multiple data sources</li></a>
    <li><a href="https://learn.microsoft.com/en-us/training/paths/use-power-apps-component-framework/">Create components with Power Apps Component Framework</a></li>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/integrations/'>Implement integrations with Power Platform</li></a>
</ul>   
    <li><a href='https://learn.microsoft.com/en-us/training/modules/power-platform-architecture/'>Explore Power Platform architecture</a></li>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/power-automate-architecture/'>Explore Power Automate architecture</a></li> 
    <li><a href='https://learn.microsoft.com/en-us/training/modules/application-lifecycle-management-architect/'>Plan application lifecycle management for Power Platform</a></li>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/project-test-process/'>Testing and go-live</li></a>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/data-modeling/'>Model data for Power Platform solutions</li></a>
    </ul>
</div>
