@page
@model ReadinessModel
@{
    ViewData["Title"]="Readines Tracker";
    
}
<div class= "row">
<ul>
    <li>
        Cloud Academy
    </li>
    <li>
        Tutorials
    </li>
    <li>
    </li>
</ul>
</div>