@page
@model ReadinessModel
@{
    ViewData["Title"]="Learning Path";
    
}
<div class= "row">
<ul><h3>Intro to Basic</h3>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/get-started-with-powerapps/'>Get started with Power Apps canvas apps</li></a> 
    <li><a href="https://learn.microsoft.com/en-us/training/paths/create-app-models-business-processes/">Create Model driven app in PowerApps:</li></a>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/get-started-flows/'>Get Started with Power Automate Flows</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/javascript-for-beginners-3823/'>Javascript for Beginners</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/javascript-primer-1384/'>Applied Javascript</li></a>
</ul>
<ul><h3>Integration</h3>    
    <li><a href='https://learn.microsoft.com/en-us/training/paths/integrate-power-platform/'>Integrate with Microsoft Power Platform and Dataverse</li></a>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/multiple-data-sources/'>Power Automate's deep integration across multiple data sources</li></a>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/integrations/'>Implement integrations with Power Platform</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/d365-ce-azure-data-factory-integrations-1854-4183/'>Azure Data Factory</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/d365-ce-dataverse-connector-1854-3822/'>Dataverse Connector</li></a>


</ul>
<ul><h3>Solutions</h3>
    <li><a href='https://cloudacademy.com/learning-paths/dynamics-365-ce-solutions-curriculum-1854-1889/'>Solutions Import/Export</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/d365-ce-form-alm-1854-4283/'>ALM with Microsoft Power Platform</li></a>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/data-modeling/'>Model data for Power Platform solutions</li></a>
<h5>Videos</h5>
<li><a href='https://www.youtube.com/watch?v=HS7Dw1cCw14'>Solutions Concept & Demo in Dataverse or Dynamics 365 | Export, Import, Clone, Patch, Publish</li></a>
<li><a href='https://www.youtube.com/watch?v=1SXmIjV2g2o'>Best Practices for Microsoft Dynamics 365 Solution Management & Patch Deployment</li></a>
<li><a href='https://youtu.be/bAootc3AF4Y'>Using Power Apps Solution Packager and Publishers to Move Apps to New Environments</li></a>
<li><a href='https://www.youtube.com/watch?v=CgY7n60-jKc'>Dynamics 365 Solution Export & Import as Managed Using Azure DevOps Build Pipeline</li></a>
</ul>
<ul>
    <li><a href="https://learn.microsoft.com/en-us/training/paths/use-power-apps-component-framework/">Create components with Power Apps Component Framework</a></li>   
    <li><a href='https://learn.microsoft.com/en-us/training/modules/power-platform-architecture/'>Explore Power Platform architecture</a></li>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/power-automate-architecture/'>Explore Power Automate architecture</a></li> 
    <li><a href='https://learn.microsoft.com/en-us/training/modules/application-lifecycle-management-architect/'>Plan application lifecycle management for Power Platform</a></li>
    <li><a href='https://learn.microsoft.com/en-us/training/modules/project-test-process/'>Testing and go-live</li></a>
    
    
    <li><a href='https://cloudacademy.com/learning-paths/dynamics-365-ce-web-resources-curriculum-1854-2095/'>Web Resources</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/dynamics-365-ce-client-scripting-curriculum-1854-2094/'>ClientSide Scripting</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/dynamics-365-ce-web-resources-curriculum-1854-2095/'>Web Resources</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/dynamics-365-ce-ribbons-curriculum-1854-2114/'>Ribbon Modifications</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/d365-ce-modern-commanding-preview-1854-4019/'>Modern Commanding</li></a>
    <li><a href='https://cloudacademy.com/learning-paths/dynamics-365-ce-model-driven-app-ui-curriculum-1854-2352/'>SiteMap Modifications</li></a>
    
    </ul>
</div>
<!--
  





How to use Package Deployment tool to deploy Solutions & Configuration data ?
https://youtu.be/nebO5ldJWcM?list=PLwhleHnDZ_IYbiEozW42YFlSfj8bBaKLs


Dataverse Solution to Source Control
https://youtu.be/KUGKjGMQwp4

Web-Resource
-=-=-=-=-=-=-=-=-=-=-=-
What is Web Resource | How to use JavaScript | How to use JavaScript function |
https://youtu.be/URC_Le3auMg?list=PLwhleHnDZ_IYbiEozW42YFlSfj8bBaKLs

Web Resource | INFO, WARNING, ERROR Notification | Confirm, Alert Dialog |
https://youtu.be/URQDipbobwo?list=PLwhleHnDZ_IYbiEozW42YFlSfj8bBaKLs

Alternate keys
-=-=-=-=-=-=-=-=-=-=-=-=-=-
Easier Imports With Data verse Alternate Keys
https://youtu.be/m35K6-qlCo4-->